.blue-container {
  width: 100%;
  height: 50vh;
  background-color: #6a7fe3;
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
}

.wave {
  display: block;
  margin: -40px auto 0;
}

.container2 {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.tasks-container {
  background-color: white;
  width: 540px;
  height: 560px;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin: 30px 0px 20px;
}

.header {
  position: relative;
  background-color: #fafaff;
  border-bottom: 1px solid #9e9e9e4f;
  padding: 20px 15px 20px;
}

.cls-day {
  font-size: 22px;
  color: #4e67de;
  margin-bottom: 10px;
}

.cls-month {
  font-size: 16px;
  color: #d7dae3;
}

.rounded-icon {
  border: 50%;
  background-color: #4e67de;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  justify-content: center;
  float: right;
  margin-top: -10px;
  z-index: 1;
}
